In [2]:
#Importing the required packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Reading the dataset
data = pd.read_csv('/content/train.csv')

#Displaying the first 5 rows of the dataset
data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [3]:
#Getting the datatypes of the dataset
data.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

In [4]:

data_TotalExpenses = data[['RoomService', 'FoodCourt','ShoppingMall','Spa', 'VRDeck']]

# Calculate sum of each row and create 'sum' column
data_TotalExpenses['Total Expenses'] = data_TotalExpenses.sum(axis=1)

# Create 'Total Expenses' column in the original DataFrame
data['Total Expenses'] = data_TotalExpenses['Total Expenses']

data_updated = data[['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age', 'VIP', 'Transported', 'Total Expenses']]

# Splitting the 'Cabin' column
data_updated[['Deck','Num', 'Side']] = data_updated['Cabin'].str.split('/', expand=True)

# Selecting the desired columns for the final data_updated DataFrame
data_updated = data_updated[['PassengerId', 'HomePlanet', 'CryoSleep', 'Deck', 'Num', 'Side', 'Destination', 'Age', 'VIP', 'Total Expenses','Transported']]
data_updated

<ipython-input-4-dbce4e206216>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_TotalExpenses['Total Expenses'] = data_TotalExpenses.sum(axis=1)
<ipython-input-4-dbce4e206216>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_updated[['Deck','Num', 'Side']] = data_updated['Cabin'].str.split('/', expand=True)
<ipython-input-4-dbce4e206216>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_updated[['Deck','Num', 'Side']] = data_updated['Cabin'].str.split('/', expand=True)
<ipython-input-4-dbce4e206216>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_updated[['Deck','Num', 'Side']] = data_updated['Cabin'].str.split('/', expand=True)

,PassengerId,HomePlanet,CryoSleep,Deck,Num,Side,Destination,Age,VIP,Total Expenses,Transported
0,0001_01,Europa,False,B,0,P,TRAPPIST-1e,39.0,False,0.0,False
1,0002_01,Earth,False,F,0,S,TRAPPIST-1e,24.0,False,736.0,True
2,0003_01,Europa,False,A,0,S,TRAPPIST-1e,58.0,True,10383.0,False
3,0003_02,Europa,False,A,0,S,TRAPPIST-1e,33.0,False,5176.0,False
4,0004_01,Earth,False,F,1,S,TRAPPIST-1e,16.0,False,1091.0,True
...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A,98,P,55 Cancri e,41.0,True,8536.0,False
8689,9278_01,Earth,True,G,1499,S,PSO J318.5-22,18.0,False,0.0,False
8690,9279_01,Earth,False,G,1500,S,TRAPPIST-1e,26.0,False,1873.0,True
8691,9280_01,Europa,False,E,608,S,55 Cancri e,32.0,False,4637.0,False
8692,9280_02,Europa,False,E,608,S,TRAPPIST-1e,44.0,False,4826.0,True

In [5]:
#print the number of missing values in each column
print(data_updated.isnull().sum())

PassengerId         0
HomePlanet        201
CryoSleep         217
Deck              199
Num               199
Side              199
Destination       182
Age               179
VIP               203
Total Expenses      0
Transported         0
dtype: int64

In [6]:
data_updated.loc[(data_updated['Total Expenses'] == 0) & (data_updated['CryoSleep'].isnull()), 'CryoSleep'] = True

In [7]:
data_updated.loc[(data_updated['Total Expenses'] != 0) & (data_updated['CryoSleep'].isnull()), 'CryoSleep'] = False

In [8]:
print(data_updated.isnull().sum())

PassengerId         0
HomePlanet        201
CryoSleep           0
Deck              199
Num               199
Side              199
Destination       182
Age               179
VIP               203
Total Expenses      0
Transported         0
dtype: int64

In [9]:
print(data_updated[(data_updated['Age'] < 18) & (data_updated['VIP'] == True)].shape[0])

0

In [10]:
data_updated.loc[(data_updated['Age'] < 18) & (data_updated['VIP'].isnull()), 'VIP'] = False

In [11]:
print(data_updated.isnull().sum())

PassengerId         0
HomePlanet        201
CryoSleep           0
Deck              199
Num               199
Side              199
Destination       182
Age               179
VIP               158
Total Expenses      0
Transported         0
dtype: int64

In [12]:
print(data_updated[(data_updated['HomePlanet'] == 'Earth') & (data_updated['VIP'] == True)].shape[0])

0

In [13]:
data_updated.loc[(data_updated['HomePlanet'] == 'Earth') & (data_updated['VIP'].isnull()), 'VIP'] = False

In [14]:
print(data_updated.isnull().sum())

PassengerId         0
HomePlanet        201
CryoSleep           0
Deck              199
Num               199
Side              199
Destination       182
Age               179
VIP                76
Total Expenses      0
Transported         0
dtype: int64

## Handling the missing values in 'HomePlanet'

In [15]:
data_updated[['Group','Person']] = data_updated['PassengerId'].str.split('_', expand=True)
data_updated['PassengerId'] = data['PassengerId']
data_updated = data_updated[['PassengerId', 'Group', 'HomePlanet', 'CryoSleep', 'Deck', 'Num', 'Side', 'Destination', 'Age', 'VIP', 'Total Expenses','Transported']]

In [16]:
data_updated.loc[:, 'HomePlanet'] = data_updated.groupby('Group')['HomePlanet'].ffill()
data_updated.loc[:, 'HomePlanet'] = data_updated.groupby('Group')['HomePlanet'].bfill()

In [17]:
print(data_updated.isnull().sum())
#there are still a few missing values in HomePlanet because some groups have only one person each

PassengerId         0
Group               0
HomePlanet        111
CryoSleep           0
Deck              199
Num               199
Side              199
Destination       182
Age               179
VIP                76
Total Expenses      0
Transported         0
dtype: int64

In [20]:
data_updated.loc[data_updated['Deck'].isin(['A', 'B', 'C', 'T']) & data_updated['HomePlanet'].isnull(), 'HomePlanet'] = 'Europa'

In [21]:
print(data_updated.isnull().sum())

PassengerId         0
Group               0
HomePlanet        104
CryoSleep           0
Deck              199
Num               199
Side              199
Destination       182
Age               179
VIP                76
Total Expenses      0
Transported         0
dtype: int64

In [22]:
data_updated.loc[(data_updated['Deck'] == 'D') & data_updated['HomePlanet'].isnull(), 'HomePlanet'] = 'Mars'

In [23]:
print(data_updated.isnull().sum())

PassengerId         0
Group               0
HomePlanet        100
CryoSleep           0
Deck              199
Num               199
Side              199
Destination       182
Age               179
VIP                76
Total Expenses      0
Transported         0
dtype: int64

In [26]:
# Create a copy of the DataFrame to avoid modifying the original
data_imputed = data_updated.copy()

# Select relevant columns for KNN imputation (numerical and categorical)
features = ['HomePlanet','Age', 'Deck', 'Num', 'Side', 'Destination', 'VIP']
data_subset = data_imputed[features]

# Convert categorical features to numerical using one-hot encoding
data_encoded = pd.get_dummies(data_subset, columns=['HomePlanet', 'Deck', 'Side', 'Destination', 'VIP'], dummy_na=False) #dummy_na=False will ignore nan values during one-hot encoding

# Initialize KNNImputer
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)  # You can adjust the number of neighbors

# Fit and transform the data
data_imputed_array = imputer.fit_transform(data_encoded)

# Convert the imputed array back to a DataFrame
data_imputed = pd.DataFrame(data_imputed_array, columns=data_encoded.columns)

# Reverse one-hot encoding to get categorical features back
categorical_features = ['HomePlanet', 'Deck', 'Side', 'Destination', 'VIP']
for feature in categorical_features:
    #Get a list of columns related to the feature
    feature_cols = [col for col in data_imputed.columns if feature in col]

    #Find the column with the maximum value for each row and extract the category name
    data_imputed[feature] = data_imputed[feature_cols].idxmax(axis=1).str.replace(f'{feature}_', '')

    #Remove the one-hot encoded columns for the current feature
    data_imputed = data_imputed.drop(feature_cols, axis=1)

# Update the original DataFrame with imputed values
for feature in features:
    data_updated[feature] = data_imputed[feature]

print(data_updated.isnull().sum())

PassengerId       0
Group             0
HomePlanet        0
CryoSleep         0
Deck              0
Num               0
Side              0
Destination       0
Age               0
VIP               0
Total Expenses    0
Transported       0
dtype: int64

<ipython-input-26-5eb76711ea4f>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_updated[feature] = data_imputed[feature]

In [27]:
data_updated = data_updated[['PassengerId', 'HomePlanet', 'CryoSleep', 'Deck', 'Num', 'Side', 'Destination', 'Age', 'VIP', 'Total Expenses','Transported']]

In [28]:
data_updated.head()

,PassengerId,HomePlanet,CryoSleep,Deck,Num,Side,Destination,Age,VIP,Total Expenses,Transported
0,0001_01,Europa,False,B,0.0,P,TRAPPIST-1e,39.0,False,0.0,False
1,0002_01,Earth,False,F,0.0,S,TRAPPIST-1e,24.0,False,736.0,True
2,0003_01,Europa,False,A,0.0,S,TRAPPIST-1e,58.0,True,10383.0,False
3,0003_02,Europa,False,A,0.0,S,TRAPPIST-1e,33.0,False,5176.0,False
4,0004_01,Earth,False,F,1.0,S,TRAPPIST-1e,16.0,False,1091.0,True